
---
import logoImage from '../assets/logo-with-text.png';
import faviconImage from '../assets/favicon.ico';
---

<div class="image-test">
  <h3>Teste de Imagens</h3>
  <img src={logoImage.src} alt="Logo" style="max-width: 200px;" />
  <p>Logo path: {logoImage.src}</p>
  <p>Favicon path: {faviconImage}</p>
</div>
